nav{
    background-color: rgb(49, 54, 56);
    height: 100px;
    width: 100%;
    color: aliceblue;
    text-align: center;
    font-size: 45px;
    font-family: cursive;
    text-decoration: none;
}
body{
    background-image: url(./Images/beach3.jpeg);
}
#con{
    font-size: 20px;
    color: rgb(246, 246, 250);

}
 #con p{
    border: 2px solid #e0b7b7;
    width: 250px;
    padding: 20px;
    background-color: #000;
    text-align: center;
    align-items: center;
    margin-left: 510px;
}
#confirmation-summary-table {
    width: 100%;
    border-collapse: collapse;
}
#confirmation-summary-table td {
    padding: 10px;
    text-align: center;
}

.tab{
    background-color: rgb(176, 235, 255);
    width: 600px;
    margin-left: 30%;
  
  }
  
  @media (max-width: 600px) {
    .container {
        padding: 10px;
    }
    
    #con {
        font-size: 16px;
        text-align: center;
    }
    
    .tab {
        margin-top: 20px;
        overflow-x: auto;
        font-size: 12px;
    }
    
    table {
        border-collapse: collapse;
        width: 100%;
    }
    
    th, td {
        padding: 8px;
    }
    
    th {
        background-color: #f2f2f2;
    }
    
    #confirmation-summary-table th {
        font-size: 14px;
    }
}

/* Media query for larger screens */
@media (min-width: 601px) {
    #con {
        font-size: 18px;
    }
    
    .tab {
        margin-top: 30px;
        font-size: 14px;
    }
    
    #confirmation-summary-table th {
        font-size: 16px;
    }
}